html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    border-radius: 0;
}

html, body, #root, .App, .page_container{
    min-height: 100%;
    height: 100%;
}

.App, .page_container {
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "proximanova-nova", sans-serif;
}

.margin_auto {
    margin: auto;
}

a {
    text-decoration: none;
    color: #383838;
}

ul {
    margin: 0;
    list-style: none;
}

strong{
    font-size: 1.2rem;
}

.App input[type='text']{
    border-radius: 0;
    border-width: 1px;
}

input:focus-visible{
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.3pt black;
}

.text_underline {
    text-decoration: underline !important;
}

.display_grid {
    display: grid;
}

.display_flex{
    display: flex;
}

.top_header {
    background: #eeeded;
    color: #385678;
    text-align: center;
    font-size: 0.688rem;
    height: 2.438rem;
}

.top_title {
    text-align: center;
    font-family: "proximanova-nova", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.094rem;
    height: 2.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.top_title a {
    color: #383838;
    letter-spacing: .13em;
}

.top_title a:hover {
    text-decoration: underline !important;
}

.mid_header {
    width: 95%;
    margin: auto;
}

.mid_header .col-lg-12 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 6rem;
    align-content: space-between;
    align-items: center;
}

.mid_header_left {
    flex: 1;
}

.mid_header_right {
    flex: 1;
}

.Logo {
    width: 20rem;
}

.bottom_header {
    border-top: 0.063rem solid #CBCACA;
    border-bottom: 0.063rem solid #CBCACA;
    height: 2.7rem;
}

.bottom_header .col-lg-12 {
    display: inline-block;
    width: 100%;
    margin: auto;
}

.main_page_mid {
    margin-bottom: 5rem;
}

.page_bottom {
    border-top: 0.063rem solid #CBCACA;
}

.mid_header_left .search-box .img-fluid {
    margin-top: 0.125rem;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 10;
}

.search-box .input-search {
    height: 0;
    width: 5.063rem;
    border-style: none;
    padding: 0.625rem;
    font-size: 0.813rem;
    letter-spacing: 0.056rem;
    outline: none;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    color: #383838;
    margin-bottom: -0.188rem;
}

.search-box .input-search::placeholder {
    color: #383838;
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
}

.search-box .btn-search {
    width: 5.313rem;
    height: 1.063rem;
    border-style: none;
    font-size: 0.875rem;
    outline: none;
    cursor: pointer;
    color: #383838;
    background-color: transparent;
    pointer-events: painted;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box .btn-search:focus ~ .search-box .input-search {
    width: 25rem;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.063rem solid #383838;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    display: inline-block;
    margin-left: 0.313rem;
}

.search-box .input-search:focus {
    width: 25rem;
    border-radius: 0;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    margin-left: 0.313rem;
}

.mid_header_right ul {
    padding: 0;
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 4rem;
    margin: 0;
}

.mid_header_right li {
    border-right: 0 solid #E3E3E3;
    padding-bottom: 0.625rem;
    height: 2rem;
}

.mid_header_right li a {
    font-size: 0.688rem;
    color: #858585;
}

.mid_header_right .checkout {
    position: relative;
}

.mid_header_right .checkout .display_grid > img, .mid_header_right .checkout .display_grid > div {
    grid-column: 1;
    grid-row: 1;
}

.mid_header_right .card_menu {
    background-color: #fff;
    border: 0.063rem solid #f1f1f1;
    padding: 1.563rem;
    position: absolute;
    z-index: 10;
    margin: auto;
    right: 3.125rem;
    width: 12.5rem;
    top: 1.875rem;
    left: -9rem;
    display: none;
}

.mid_header_right .card_menu_title {
    width: 100%;
    text-align: center;
}

.mid_header_right #count {
    margin-top: 0.6em;
    font-size: 0.5625rem;
}

.mid_header_right .checkout:hover .card_menu {
    display: block;
}

.mid_header_right .card_menu .card_menu_title {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

.mid_header_right .card_menu .card_menu_title span {

    text-transform: uppercase;
    font-family: "proximanova-nova", sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 400;
    box-sizing: border-box;
    color: black;
}

.mid_header_right .card_menu .card_button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0 transparent;
    font-family: "proximanova-nova", sans-serif;
    box-sizing: border-box;
    background: #4c4c4c none;
    font-weight: 500;
    font-style: normal;
    color: white !important;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 1em 2em;
    text-align: center;
    text-shadow: none;
    width: 12.4em;
    margin-bottom: 0.4em;
    display: inline-block;
}

.mid_header_right .card_menu:hover {
    display: block;
}

.mid_header_right .card_menu::after {
    content: '';
    height: 0.625rem;
    width: 0.625rem;
    position: absolute;
    background-color: #fff;
    top: -0.375rem;
    left: 45%;
    border-top: #f1f1f1 solid 0.063rem;
    border-left: #f1f1f1 solid 0.063rem;
    transform: rotate(45deg);
}

.menu{
    position: relative;
    padding: 0 3em 0 3em;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

.menu ul li {
    display: inline-block;
    height: 2.438rem;
    width: auto;
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
    background: transparent;
}

.menu ul li a {
    display: block;
    color: #383838;
    font-size: 0.688rem;
    text-transform: uppercase;
    letter-spacing: 0.156rem;
    padding: 0.813rem 0 0.563rem;
    border-bottom: 0.188rem solid transparent;
    cursor: pointer;
}

.menu .mega {
    height: 22.5rem;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    top: 2.375rem;
    color: #fff;
    display: none;
}

.menu .sub_menu{
    margin: 0 auto;
    max-width: 100%;
    padding: 2.188rem 0.938rem 1.75rem;
    background: #fff;
    box-shadow: 0 0.031rem 0.5rem -0.25rem rgba(66, 66, 66, .5);
    overflow: hidden;
}

.menu .sub_menu .cel-top-menu {
    width: 12.5rem;
    display: inline-table;
    margin-right: 2.813rem;
    min-width: 9.375rem;
    height: 15.625rem;
}

.menu .mega h1{
    text-transform: uppercase;
    padding-bottom: 0.375rem;
    margin-bottom: 0.313rem;
    font-family: "proximanova-semiBold", sans-serif;
    margin-top: 0.313rem;
    padding-top: 0.375rem;
}

.menu .mega h2{
    padding: 0.5rem 0;
    text-align: left;
}

.menu .mega h1 a {
    color: #383838;
    font-size: 0.688rem;
    padding: 0;
}

.menu .mega h2 a{
    color: #858585;
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0;
    text-transform: none;
    font-family: "proximanova-nova", sans-serif;
}

.menu .mega a{
    color: #383838;
    font-weight: normal;
    text-align: left;
    border-bottom: 0;
}

.menu .mega a:hover{
    color: #383838;
}

.menu ul li:hover {
    color: #858585;
}

.menu ul li:hover .mega , .menu .mega:hover {
    display: block !important;
}

.menu ul li:hover > a {
    border-bottom: 0.188rem solid #d8d8d8;
}

.page_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: center;
    padding: 0.625rem;
    width: 90%;
    height: 12rem;
    text-align: left;
    margin: auto auto 1rem;
}

.page_footer_left{
    flex: 0 0 75%;
    max-width: 75%;
    -webkit-box-flex: 0;
    display: flex;
    align-items: flex-start;
}

.page_footer_right{
    flex: 0 0 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
}

.page_footer_left .page_footer_left_column{
    flex: 0 0 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
    display: inline-block;
}

.footer_box{
    display: table;
    height: 9.375rem;
    padding-right: 1.25rem;
    width: 100%;
    padding-left: 1.25rem;
}

.footer_box:first-child{
    padding-left: 0;
}

.page_footer h1 {
    font-family: "proximanova-semiBold", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #383838;
    font-size: 13px;
    margin-bottom: 1.25rem;
}

.page_footer ul {
    float: left;
    padding: 0;
}

.page_footer li {
    padding: 0.125rem 0;
}

.page_footer li a, .page_footer li p {
    font-size: 0.813rem;
    line-height: 1.375rem;
    white-space: nowrap;
    letter-spacing: 0.063rem;
    padding: 0.125rem 0;
    color: #858585 !important;
    font-family: "proximanova-nova", sans-serif;
    text-align: initial;
    display: inline-block;
}

.footer-box-newsletter {
    padding-left: 1.25rem;
    display: table;
    width: 100%;
}

.footer-box-newsletter form {
    margin-bottom: 1.25rem;
}

.page_footer label {
    margin-bottom: 0.313rem;
    font-family: "serif";
    letter-spacing: 0.063rem;
    font-size: 0.875rem;
    line-height: 1.71;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    width: 17.625rem;
    float: none;
}

.page_footer input[type="text"] {
    float: left;
    width: 14.938rem;
    border: 1px solid #CBCACA;
    margin: 0;
    height: 2.375rem;
    font-size: 0.75rem;
    letter-spacing: 0.156rem;
    text-transform: uppercase;
    font-family: "proximanova-nova", sans-serif;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 0 0 0 0.625rem;
    box-sizing: border-box;
}

.page_footer input[type="submit"] {
    background: #f7f7f7;
    padding: 0 !important;
    float: left;
    height: 2.375rem;
    width: 82px;
    color: #383838;
    font-size: 0.875rem;
    letter-spacing: 0.0625rem;
    margin-left: 0.75rem;
    border-color: #ccc;
    font-family: "proximanova-semiBold", sans-serif;
    border-style: solid;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.page_footer input[type="submit"]:hover {
    background: #f1f1f1;
}

.footer-erorr-gorup {
    display: block;
    height: 1.25rem;
    font-size: 0.6875rem;
}

.error-footer {
    border: 0;
    font-size: 0.6875rem;
    color: orange;
    padding: 0.5rem;
    display: none;
}

.success-footer {
    border: 0;
    font-size: 0.6875rem;
    color: #F15F2D;
    padding: 0.5rem;
    display: none;
}

.under_footer{
    border-top: 1px solid #CBCACA;
    font-size: 11px;
    color: #CBCACA;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.page_social_media{
    float: left;
    margin-left: 7.5rem;
    width: 14%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.copyright{
    float: right;
    border-left: 0.0625rem solid #CBCACA;
    color: #383838;
    font-size: 0.625rem;
    padding: 0.3125rem 1.25rem 0.375rem 2.5rem;
    margin-right: 7.5rem;
}

.copyright a{
    color: #787878;
    font-size: 0.6875rem;
}

.page_social_media span i {
    font-size: 1rem;
    margin: 0 0.125rem;
    color: #383838;
    float: right;
    padding: 0.3125rem 0.625rem;
    border-right: 0.0625rem solid #CBCACA;
    cursor: pointer;
}

.page_social_media span:first-child i {
    border-left: 0.0625rem solid #CBCACA;
}

.icon-facebook{
    width: 2rem;
}

.icon-instagram{
    width: 2.2rem;
}

.page_footer .svg {
    margin: 0 5px 0 0 !important;
    vertical-align: middle !important;
    fill: gray;
}

.sortableTree_container{
    height: 33rem;
    width: 100%;
    margin: 0 auto;
}

.rst__node{
    height: 85px !important;
}

.rst__nodeContent{
    width: 1040px;
}

.rst__rowContents{
    justify-content: flex-start !important;
}

.rst__rowLabel {
    display: none !important;
}

.sortableTree_container .btn{
    margin: 0 5px 0 5px;
}

#menuEditorText{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.carousel {
    display: flex;
    max-height: 37em;
}

.main_page_slide_show .img-fluid {
    max-width: unset;
    max-height: 100%;
    /*object-fit: contain;*/
    width: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-indicators [data-bs-target] {
    background-color: #000000;
}

.main_page_slide_show .carousel .carousel-caption {
    top: 20%;
    bottom: auto;
    color: #385678;
}

.carousel-caption h3{
    font-size: 2.5rem;
}

.carousel-caption p{
    font-size: 2.5rem;
}

.navbar {
    border-bottom: 0.0625rem solid rgb(170, 170, 170);
    background-color: #d5d5d5 !important;
}

.rst__tree div[data-index="0"] .btn.btn-danger{
    pointer-events: none;
    background-color: #bd9797;
    border-color: #bd9797;
}

.rst__rowLabel{
    padding-right: 0.125rem !important;
}

.carousel-indicators{
    display: none;
}

.admin_panel_button{
    margin-top: 1rem;
}

.banner_titleÙˆ, .slide_title{
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.menu_title{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.banners{
    text-align: center;
    min-height: 25rem;
    max-width: 75rem;
    margin: auto;
    background: linear-gradient(-45deg, #ee00cd, #e78800, #00a2d5, #08d53d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 3rem;
}

.banners_list{
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.banners_list li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.banners_list input, .slides_list input{
    width: 20rem;
    border:none;
}

.banners_list input:focus-visible, .slides_list input:focus-visible {
    box-shadow: unset;
}

.banners_list .input, .slides_list .input {
    position: relative;
    padding:10px;
    border:2px solid;
    margin:10px;
    background: white;
}
.banners_list .input:nth-child(3) {
    padding:1.6px;
}

.banners_list .input__label, .slides_list .input__label {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: aquamarine;
    width: 9rem;
    border-radius: 20px;
    padding-left: 5px;
}

.banners button, .slides button{
    margin: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 10rem;
}

.panel_page_container{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.slides{
    text-align: center;
    min-height: 30rem;
    max-width: 85rem;
    margin: auto;
    border-radius: 3rem;
    padding-top: 0.5rem;
}

.slides_list li{
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 3rem 0 3rem 0;
    border-radius: 3rem;
    background: linear-gradient(-45deg, #ee00cd, #e78800, #00a2d5, #08d53d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.slides_list li img{
    height: 18.75rem;
    width: 50rem;
}

.slides_list li>div{
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.menu_page_container input[type=text]{
    width: 8rem;
    border:none;
}

.menu_page_container input[type=text]:focus-visible {
    box-shadow: unset;
}

.menu_page_container .input {
    position: relative;
    padding:10px;
    border:2px solid;
    margin:5px;
    background: white;
}
.menu_page_container {
    padding:1.6px;
}

.menu_page_container .input__label{
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: aquamarine;
    width: 7rem;
    border-radius: 20px;
    padding-left: 5px;
}

.rst__rowToolbar {
    align-items: center;
}

.menu_checkbox_container{
    position: relative;
    padding-top: 0.7rem;
    padding-left: 1.3rem;
    margin: 0 3rem 0 0;
    min-width: 5rem;
}

.menu_page_container .form-check-input{
    margin-top: 0.1em;
}

.mid_header_right .Lang_change_container{
    margin: 0 4rem;
    width: max-content;
}

.mid_header_right .Lang_change{
    margin: 0 0.15rem;
    border-bottom: solid 1px black;
    height: max-content;
    padding: 0;
}

.mid_header_right .Lang_change a{
    font-size: 0.8rem;
}